<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.grade.mapper.GradeDao">
	<insert id="insert">
		INSERT INTO tbl_grade(
		seq,
		g_no,
		g_name,
		g_kor,
		g_eng,
		g_math,
		g_total,
		g_avg

		) VALUES (
		seq_grade.NEXTVAL,
		#{g_no},
		#{g_name},
		#{g_kor},
		#{g_eng},
		#{g_math},
		#{g_total},
		#{g_avg}
		)
	</insert>
	<update id="update">
		UPDATE tbl_grade SET
		g_no = #{g_no},
		g_name = #{g_name},
		g_kor = #{g_kor},
		g_eng = #{g_eng},
		g_math = #{g_math},
		g_total = #{g_total},
		g_avg = #{g_avg}
		where seq = #{seq}
	</update>
</mapper>