@charset "UTF-8";

/*
        style 지정할 때 사용하는 단위
        px, pt, dp, em, rem 등등..
        rem(em) :
        box 내부에 문자열 content가 있을 때 content 문자열 중에 가장 큰 문자열을 기준으로
        배율을 정하는 명령어.
 */
header {
	background-color: black;
	color: white;
	padding: 2rem;
	text-align: center;
	margin-bottom: 0;
}

nav {
	background-color: darkslategrey;
}

ul {
	margin: 0;
}

li {
	display: inline-block;
	padding: 5px;
	background-color: none;
	color: yellowgreen;
	cursor: pointer;
}

li:hover {
	background-color: whitesmoke;
	color: yellowgreen;
}
/*text-decoration : anchar tag는 특성상 문자열에 밑줄과 같은 속성이 저장된다.
        이속성을 모두 없애서 디자인이 망가지는 걸 방지한다.
        */
a {
	color: whitesmoke;
	text-decoration: none;
}

footer {
	background-color: black;
	text-align: center;
	padding: 1.1rem;
	color:white;
}